{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="container-fluid">
      <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1" id="indexAuthor">
        <a href="/authors">
          <div id="authorsBlock" class="mainBlock"></div>
        </a>
        <h2 class="text-center">Authors</h2>
      </div>
      <div class="col-sm-5  col-md-5" id="indexBooks">
        <a href="/books">
          <div id="booksBlock" class="mainBlock"></div>
        </a>
        <h2 class="text-center">Books</h2>
      </div>
    </div>
  </div>

{% endblock %}