{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="row">
    <div class="container-fluid">
      <h1 class="page-header">Galvanize Reads</h1>
      <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1" id="indexAuthor">

        <div id="authorsBlock" class="mainBlock">

        </div>
        <h2 class="text-center">Authors</h2>
      </div>
      <div class="col-sm-5  col-md-5" id="indexBooks">

        <div id="booksBlock" class="mainBlock">

        </div>
        <h2 class="text-center">Books</h2>
      </div>
    </div>
  </div>

{% endblock %}
