@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.page-header {
  padding-left: 40px;
}

#booksBlock {
  background: #7B68EE;
}

#authorsBlock {
  background: #8E388E;
}

.mainBlock {
  width: 100%;
  height: 40vh;
  margin-top: 100px;
}

.authorLinkText {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.authorsLink {
  border: 1px solid black;
  height: 30vh;
  padding-top: 30px;
}
.authorsLink:hover {
  background: rgba(70, 70, 70, 0.87);
  color: #ffffff;
}

.booksLink {
  border: 1px solid black;
  height: 30vh;
  padding-top: 30px;
  background: #bfc3d3;
}

.booksLink:hover {
  background: rgba(70, 70, 70, 0.87);
  color: #ffffff;
}

.bookImages {
  height: 200px;
  width: 200px;
  /*margin-bottom: 20px;*/
}

.bookSelection {
  margin-bottom: 20px;
}

.bookSelection h2 {
  display: inline-block;
  margin-top: 5px;
}

/*.bookDescript {*/
  /*padding-left: 20px;*/
/*}*/
.sidebar:hover {
  text-decoration: none;
}